<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
</head>
<body>
    <div class="container" ng-controller="todoAppCtrl" >
        <h1>TODO</h1>
        <form role="form" ng-submit="addTodo()" class="form-inline row">
            <div class="form-group col-xs-4">
                <label>
                    <input class="form-control" type="text" ng-model="todoInput">
                </label>
                <button id="btnAdd" type="submit" class="btn btn-default">Add</button>
            </div>
        </form>
        <div id="errorAlert" class="row" style="display: none;">
            <div class="alert alert-danger fade in col-sm-4">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Enter a name for your todo task!
            </div>
        </div>
        <div class="col-sm-4 row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in todos">
                    <span ng-click="editTodo($index)">{{ item }}</span>
                    <button class="btn btn-danger badge" ng-click="removeTodo($index)">X</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/controllers/todo.js"></script>
</body>
</html>